<h1>User: <%= @user.name %></h1>

<ul>
  <% @user.attributes.each do |attr, val| %>
    <li>
      <%= attr %>: <%= val %>
    </li>
  <% end %>
</ul>

<h1>Sessions</h1>
  <% @user.sessions.each do |session| %>
  <ul>
  <% session.attributes.each do |attr, val| %>
    <li>
      <%= attr %>: <%= val %>
    </li>
    <% end %>
    </ul>
  <% end %>

