<h1>Dragon Rental Requests</h1>

<ul>
  <% @dragon_rental_requests.each do |request| %>
  <li>Request for: <%= request.dragon.name %></li>
  <%= button_to("Deny!", deny_dragon_rental_request_url(request), method: :put) %>
   <%= button_to("Approve!", approve_dragon_rental_request_url(request), method: :put) %>
    <ul>
    <% request.attributes.each do |attr, val| %>
      <li><%= attr %>: <%= val %></li>
    <% end %>
    </ul>
    <br>
  <% end %>
</ul>
